KRXToken.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://kanripo.org/ns/KRX/Token/1.0"><!--
Schema generated from ODD source 2020-12-08T05:15:18Z. .
TEI Edition: Version 4.1.0. Last updated on
	19th August 2020, revision b414ba550
TEI Edition Location: https://www.tei-c.org/Vault/P5/Version 4.1.0/
 A schema for Token files in the KanripoX project 
--><!---->
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <define name="tx_tlist">
      <element name="tlist">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Root for token that may contain one or more <code xmlns="http://www.w3.org/1999/xhtml">&lt;tg&gt;</code> elements.</a:documentation>
         <oneOrMore>
            <ref name="tx_tg"/>
         </oneOrMore>
         <optional>
            <attribute name="xml:id">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            </attribute>
         </optional>
         <attribute name="ed">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Reference to the edition defined in the manifest.</a:documentation>
         </attribute>
         <optional>
            <attribute name="n">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A label</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="fileseq">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">If the tokens are in several files, this gives the sequential number of the file.</a:documentation>
               <data type="nonNegativeInteger"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tx_tg">
      <element name="tg">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A group of tokens.</a:documentation>
         <zeroOrMore>
            <choice>
               <zeroOrMore>
                  <ref name="tx_tg"/>
               </zeroOrMore>
               <zeroOrMore>
                  <ref name="tx_t"/>
               </zeroOrMore>
               <zeroOrMore>
                  <ref name="tx_pb"/>
               </zeroOrMore>
               <zeroOrMore>
                  <ref name="tx_lb"/>
               </zeroOrMore>
            </choice>
         </zeroOrMore>
         <optional>
            <attribute name="xml:id">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The identifier of this token group.</a:documentation>
               <data type="ID"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="n">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A label</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="role">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Token group type</a:documentation>
               <choice>
                  <value>h</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Token group is a heading</a:documentation>
                  <value>p</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Token group is (part of) a paragraph</a:documentation>
                  <value>s</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Token group is a seg element</a:documentation>
                  <value>n</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Token group is (part of) a note or annotation of any kind</a:documentation>
                  <value>q</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Token group is (part of) a quotation</a:documentation>
                  <value>v</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Token group is (part of) a verse line</a:documentation>
                  <value>o</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Token group is (part of) a textual feature not in this list.</a:documentation>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="position">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">position and content of marks out of line, but related to this token. The description is similar to CSS description on HTML @style: 'left:か;' would indicate a か syllable to the left of this token.</a:documentation>
               <data type="string"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="kundokuten">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Kundoku marks related to this token. </a:documentation>
               <data type="string"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="ruby">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Pronounciation marks related to this token. </a:documentation>
               <data type="string"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tx_t">
      <element name="t">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A token.</a:documentation>
         <text/>
         <attribute name="role">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Token type</a:documentation>
            <choice>
               <value>h</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Token is part of a heading</a:documentation>
               <value>p</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Token is part of a paragraph</a:documentation>
               <value>s</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Token is part of a seg element</a:documentation>
               <value>n</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Token is part of a note or annotation of any kind</a:documentation>
               <value>q</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Token is part of a quotation</a:documentation>
               <value>v</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Token is part of a verse line</a:documentation>
               <value>o</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Token is part of a textual feature not in this list.</a:documentation>
            </choice>
         </attribute>
         <optional>
            <attribute name="pos">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The sequencial number of this token within this element (or token type).</a:documentation>
               <data type="nonNegativeInteger"/>
            </attribute>
         </optional>
         <attribute name="tp">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The sequencial number of this token within the whole text.</a:documentation>
            <data type="nonNegativeInteger"/>
         </attribute>
         <optional>
            <attribute name="f">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Punctuation or other non-token text items, immediately following the token.</a:documentation>
               <data type="string"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="p">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Punctuation or other non-token text items, immediately preceding the token.</a:documentation>
               <data type="string"/>
            </attribute>
         </optional>
         <attribute name="n">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Label or identifier of the element in the text of which this token is part. If none is available, the code generating the token file should make one up on the fly.</a:documentation>
            <data type="string"/>
         </attribute>
         <optional>
            <attribute name="position">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">position and content of marks out of line, but related to this token. The description is similar to CSS description on HTML @style: 'left:か;' would indicate a か syllable to the left of this token.</a:documentation>
               <data type="string"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="kundokuten">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Kundoku marks related to this token. </a:documentation>
               <data type="string"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="ruby">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Pronounciation marks related to this token. </a:documentation>
               <data type="string"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tx_pb">
      <element name="pb">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">This element marks the beginning of a new page or page-like section on the text-bearing surface.</a:documentation>
         <empty/>
         <optional>
            <attribute name="ed">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Identifier of the edition to which this page belongs</a:documentation>
               <data type="string"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="n">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Number or other label used to refer to this page</a:documentation>
               <data type="string"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="xml:id">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tx_lb">
      <element name="lb">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">This element marks the beginning of a new line or line-like section on the text-bearing surface.</a:documentation>
         <empty/>
         <optional>
            <attribute name="ed">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Identifier of the edition to which this line belongs</a:documentation>
               <data type="string"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="n">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Number or other label used to refer to this line</a:documentation>
               <data type="string"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="xml:id">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <start>
      <choice>
         <ref name="tx_tlist"/>
      </choice>
   </start>
</grammar>
