Nexus.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Schema for nexus files in the KanripoX project</title>
      </titleStmt>
      <publicationStmt>
        <p>Available at https://github.com/kanripox/kanripox-dev</p>
      </publicationStmt>
      <sourceDesc>
        <p>Created from scratch</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <div>
        <head>Overview</head>
        <p>The nexus files described here describe links between locations in texts.  The links consist of references to a span of one or more consecutive characters in a text. Related links can be grouped together to form a nexus. This can be used for example to describe corresponding passages in different versions of a text.</p>
        <p>The main elements under the root element <gi>nexusList</gi>are::
          <specList>
            <specDesc key="nexus"/>
            <specDesc key="note"/>
          </specList>
      </p>
        <p>The <gi>nexus</gi> element holds the <gi>locationRef</gi> elements, which contain the reference information to locate the passage of the text.  The reference is expressed by pointing to a sequence of one or more tokens in a token file for the edition. </p>
      </div>
      <div>
        <head>The elements defined for the nexus files</head>
      <schemaSpec ident="KRXNexus" start="nexusList" ns="http://kanripo.org/ns/KRX/Nexus/1.0" prefix="nx_" targetLang="en" docLang="en">
      <desc>A schema for Token files in the KanripoX project</desc>
        <moduleSpec ident="KRXNexus"/>
        <elementSpec ident="nexusList" module="KRXNexus">
          <desc>Root for Nexus that may contain one or more <gi>nexus</gi> elements.</desc>
          <content>
            <sequence>
              <elementRef key="note" maxOccurs="1" minOccurs="0"/>
              <elementRef key="nexus" maxOccurs="unbounded"/>
           </sequence>   
          </content>
          <attList>
            <attDef ident="xml:id" usage="rec">
              <datatype>
                <dataRef key="ID"></dataRef>
              </datatype>
            </attDef>
            <attDef ident="ed" usage="req">
              <desc>Reference to the edition defined in the manifest.</desc>
              <datatype>
                <dataRef key="string"/>
              </datatype>
            </attDef>
            <attDef ident="n" usage="opt">
              <desc>A label</desc>
              <datatype>
                <dataRef key="string"/>
              </datatype>
            </attDef>            
          </attList>
        </elementSpec>
        <elementSpec ident="nexus" module="KRXNexus">
          <desc>A group of <gi>locationRef</gi> elements.</desc>
          <content>
            <sequence>
              <elementRef key="note" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="locationRef" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>  
          </content>
          <attList>
            <attDef ident="xml:id" usage="opt">
              <desc>The identifier of this token group.</desc>
              <datatype>
                <dataRef name="ID"/>
              </datatype>
            </attDef>          
            <attDef ident="tp" usage="req">
              <desc>The sequencial number of the first token of this text span.</desc>
              <datatype>
                <dataRef name="nonNegativeInteger"/>
              </datatype>
            </attDef>
            <attDef ident="tcount" usage="opt">
              <desc>The number of tokens that make up this text span.</desc>
              <datatype>
                <dataRef name="nonNegativeInteger"></dataRef>
              </datatype>
              <defaultVal>1</defaultVal>
            </attDef>
          </attList>
          <remarks><p></p></remarks>
        </elementSpec>
        <elementSpec ident="locationRef" module="KRXNexus">
          <desc>Reference to a location in the token file. Optionally might hold a copy of the referenced text as a string of characters. </desc>
          <content><textNode/></content>
          <attList>
            <attDef ident="ed" usage="req">
              <desc>Identifier of the edition (as used in the token file)</desc>
              <datatype>
                <dataRef name="string"/>
              </datatype>
            </attDef>
            <attDef ident="tp" usage="req">
              <desc>The sequencial number of the first token in the token file.</desc>
              <datatype>
                <dataRef name="nonNegativeInteger"/>
              </datatype>
            </attDef>
            <attDef ident="tcount" usage="opt">
              <desc>The number of tokens that make up this text span.</desc>
              <datatype>
                <dataRef name="nonNegativeInteger"></dataRef>
              </datatype>
              <defaultVal>1</defaultVal>
            </attDef>
            <attDef ident="target" usage="req">
              <desc>Identifier of the first token in the text span</desc>
              <datatype>
                <dataRef name="string"/>
              </datatype>
            </attDef>
            
            <attDef ident="n" usage="opt">
              <desc>Label or identifier for this reference.</desc>
              <datatype>
                <dataRef name="string"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="note">
          <desc>Annotation or additional information concerning the role or purpose of this reference.</desc>
          <content>
            <textNode/>
          </content>
          <attList>
            <attDef ident="xml:id" usage="rec">
              <datatype>
                <dataRef key="ID"></dataRef>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>        
      </schemaSpec>
      </div>
    </body>
  </text>
</TEI>
