Token.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Schema for token files in the KanripoX project</title>
      </titleStmt>
      <publicationStmt>
        <p>Available at https://github.com/kanripox/kanripox-dev</p>
      </publicationStmt>
      <sourceDesc>
        <p>Created from scratch</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <div>
        <head>Overview</head>
        <p>The token files described here serve as a shadow of other digital files that more thoroughly describe the texts documented there. This relieves the token files from the burden to describe the physical appearence, structure and transmission of the text.  This information is available at any time by following the links back to these other files.  The purpose of the token files is to provide a minimal description, containing only the characters of the text in a form that allows easy comparison and alignment of multiple versions.  The function is similar to a concordance in that it provides access to the whole text, but without much of what a reader would expect to make reading (or editing) convenient, or even feasible. On the other hand, enough information should be retained to reconstruct a very basic version of the text.</p>
        <p>The main elements under the root element <gi>tlist</gi>are::
          <specList>
            <specDesc key="tg"/>
            <specDesc key="t"/>
          </specList>
          
      </p>
        <p>The <gi>tg</gi> element holds the <gi>t</gi> elements, which have the character content of the text, one token per <gi>t</gi>. The purpose of the <gi>tg</gi> element is to group related <gi>t</gi> elements.  <gi>tg</gi> can nest, and provide thus for a rudimentary structure in the token files.</p>
      </div>
      <div>
        <head>The elements defined for the tok files</head>
      <schemaSpec ident="KRXToken" start="tlist" ns="http://kanripo.org/ns/KRX/Token/1.0" prefix="tx_" targetLang="en" docLang="en">
      <desc>A schema for Token files in the KanripoX project</desc>
        <moduleSpec ident="KRXToken"/>
        <elementSpec ident="tlist" module="KRXToken">
          <desc>Root for manifests that may contain one or more <gi>tg</gi> elements.</desc>
          <content>
            <elementRef key="tg" maxOccurs="unbounded"/>
          </content>
        </elementSpec>
        <elementSpec ident="tg" module="KRXToken">
          <desc>A group of tokens.</desc>
          <content>
              <elementRef key="tg" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="t" minOccurs="0" maxOccurs="unbounded"/>
          </content>
          <attList>
            <attDef ident="xml:id" usage="opt">
              <desc>The identifier of this token group.</desc>
              <datatype>
                <dataRef name="ID"/>
              </datatype>
            </attDef>          
          </attList>
          <remarks><p></p></remarks>
        </elementSpec>
        <elementSpec ident="t" module="KRXToken">
          <desc>A token.</desc>
          <content><textNode/></content>
          <attList>
            <attDef ident="el" usage="req">
              <desc>Token type</desc>
              <valList type="closed">
                <valItem ident="h">
                  <desc>Token is part of a heading</desc>
                </valItem>
                <valItem ident="p">
                  <desc>Token is part of a paragraph</desc>
                </valItem>
                <valItem ident="s">
                  <desc>Token is part of a seg element</desc>
                </valItem>
                <valItem ident="n">
                  <desc>Token is part of a note or annotation of any kind</desc>
                </valItem>
                <valItem ident="q">
                  <desc>Token is part of a quotation</desc>
                </valItem>
                <valItem ident="v">
                  <desc>Token is part of a verse line</desc>
                </valItem>
                <valItem ident="o">
                  <desc>Token is part of a textual feature not in this list.</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="pos" usage="opt">
              <desc>The sequencial number of this token within this element (or token type).</desc>
              <datatype>
                <dataRef name="nonNegativeInteger"/>
              </datatype>
            </attDef>
            <attDef ident="tp" usage="req">
              <desc>The sequencial number of this token within the whole text.</desc>
              <datatype>
                <dataRef name="nonNegativeInteger"/>
              </datatype>
            </attDef>
            <attDef ident="f" usage="opt">
              <desc>Punctuation or other non-token text items, immediately following the token.</desc>
              <datatype>
                <dataRef name="string"/>
              </datatype>
            </attDef>
            <attDef ident="p" usage="opt">
              <desc>Punctuation or other non-token text items, immediately preceding the token.</desc>
              <datatype>
                <dataRef name="string"/>
              </datatype>
            </attDef>
            <attDef ident="n" usage="req">
              <desc>Label or identifier of the element in the text of which this token is part. </desc>
              <datatype>
                <dataRef name="string"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
      </schemaSpec>
      </div>
    </body>
  </text>
</TEI>
